{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Currently a student, who is pursuing her Bachelor's degree specialized in Computer Application. An average student learning and implementing new things everyday to be the best version of myself!</p>
                        <p>Strong in design and problem-solving skills integrated with mindset of simplifying things for others. Proficient in JAVA, HTML, CSS, PYTHON, JAVASCRIPT, and SQL. Passionate about implementing and launching new projects. </p>
                        <p>Love living a healthy lifestyle. Believes in early to bed, early to rise kinda lifestyle.Spending time with my family members, playing together and laughing together is an important aspect of my life also staying away from negativity.</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
{% include "footer.html" %}